@charset "UTF-8";

body{
    padding: 20px !important;
    background: #fff !important;
}

h2{
    margin-top: 0 !important;
}

.sub_row{
    width: 500px;
}

.subreddit{
    width: 350px !important;
}

.toggle.btn{
    height: 40px !important;
    float: right;
}

.signature{
    width: 500px;
    height: 100px;
}

.clear{
    float: right;
    padding-left: 10px;
}

.remove{
    float: right;
    color: #D9534F;
}

.nav{
    position: relative;
    top: 21px;
}

.signature{
}

.preview_header{
    background: #008CBA;
    color: #fff;
    font-size: 1.1em;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-bottom: 1px dashed #ddd;
    padding: 5px 10px;
}

.preview{
    width: 500px;
    min-height: 65px;
    border: 1px solid #ddd;
    border-top: 0;
    padding: 5px;
    background: #FAFAFA;
    clear: both;
}

button[title="Disapproval"] span::before{
    content: 'ಠ_ಠ';
}

.increment{
    position: relative;
    top: -285px;
    left: 530px;
    margin-bottom: -100px;
}

.ui-autocomplete-loading {
    background:url('/img/indicator.gif') no-repeat right center !important;
}

hr{
    padding-bottom: 50px;
}

#header{
    position: fixed;
    width: 100%;
    height: 95px;
    margin: -20px;
    padding: 30px 20px;
    background: #eee;
    z-index: 10;
}

#spacer{
    height: 95px;
}

#save{
    width: 150px;
}

#status{
    width: 150px;
    text-align: right;
}

#save_wrapper{
    position: relative;
    top: -60px;
    left: 350px;
}

.toggle-group{
    position: relative;
    pointer-events: all !important;
    opacity: 1.0 !important;
    z-index: 7;
}

.disabled {
    z-index: 5;
    opacity: 0.6;
    pointer-events: none;
}

.no_sigs{
    height: 200px;
    display: table-cell;
    vertical-align: middle;
}

.no_sigs .increment{
    position: relative;
    top: 6px !important;
    left: 105px !important;
    margin-bottom: 0 !important;
}

