body {
    width: 300px;
    height: 250px;
}

h3{
    padding-bottom: 20px;
}

#wrapper{
    padding: 0 10px 0 20px;
}

td{
    padding-bottom: 10px !important;
}

#all_subs{
    max-height: 200px;
    overflow-y: scroll;
}

.sub_toggle{
    width: 240px;
}

.sub_toggle h5{
    float: left;
}

.sub_toggle input, .toggle-group{
    float: right;
}

.left{
    max-width: 185px;
    overflow-x: hidden;
}

.right{
    text-align: right;
}

#options{
    margin: 10px 0;
    float: right;
}