@charset "UTF-8";

body{
    padding: 20px;
}

.sub_row{
    width: 500px;
}

.signature{
    width: 500px;
    height: 100px;
}

.clear{
    float: right;
    padding-left: 10px;
}

.remove{
    float: right;
    color: #D9534F;
}

.preview{
    width: 500px;
    height: 100px;
    border: 1px solid;
}

button[title="Disapproval"] span::before{
    content: 'ಠ_ಠ';
}

